<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340607468864-t28nicj21r9v7ak5j5got1d26ufvtsuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340607468864-t28nicj21r9v7ak5j5got1d26ufvtsuo</string>
	<key>API_KEY</key>
	<string>AIzaSyAf5DAI-Tn08xOZX76YY0FArguZyEym3n8</string>
	<key>GCM_SENDER_ID</key>
	<string>340607468864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttersimplecalculator</string>
	<key>PROJECT_ID</key>
	<string>simple-calculator-dc46a</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-calculator-dc46a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340607468864:ios:fc9036a2548f41075126a5</string>
	<key>DATABASE_URL</key>
	<string>https://simple-calculator-dc46a.firebaseio.com</string>
</dict>
</plist>